@model Mel_Medicare_Location_Reservation_System.Models.Reservation

@{
    ViewBag.Title = "Reschedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reschedule</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.reservationId)
        @Html.HiddenFor(model => model.branchId)
        @Html.HiddenFor(model => model.customerId)

        @Html.HiddenFor(model => model.status)



        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reschedule" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var d = moment().add(1, 'day');


        //var disabledHours  = [0, 1, 2, 3, 4, 5, 6, 7, 17, 18, 19, 20, 21, 22, 23, 24 ];
        //var disabledTimeIntervals = [[moment({ ha: 0 }), moment({ h: 6 })], [moment({ h: 17, m: 30 }), moment({ h: 24 })]];
        //var date = new Date();
        $(document).ready(
            $(
                function () {
                    $('#date').datetimepicker({
                        //viewMode: 'years',
                        format: 'DD/MM/YYYY hh:mm A',
                        daysOfWeekDisabled: [0, 6],
                        //inline: true,
                        sideBySide: true,
                        minDate: d,
                        //disabledTimeIntervals: [moment('13:50').format('HH:mm'), moment('18:50').format('HH:mm')],
                        //disabledHours: disabledHours,
                        stepping: 15

                    });


                }
            )
        )



    </script>
}