@model IEnumerable<Mel_Medicare_Location_Reservation_System.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div id="map" style="height:300px">
    <div id='menu'>
        
        
    </div>
</div>

@if (User.IsInRole("Doctor"))
{
    <p>
        <br />
        @Html.ActionLink("Create New", "Create", "Branch", new { @class = "btn btn-primary" })
    </p>
}
else
{
    <br />
}


<table class="table table-bordered table-striped table-hover table-responsive">
    
    <tr>
        <th class="col-md-2 text-center">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th class="col-md-2 text-center">
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th class="col-md-1 text-center">
            @Html.DisplayNameFor(model => model.suburb)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.postcode)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.open)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.close)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center coordinates">
            <td class="text-left description">
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td class="text-left address">
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td class="suburb">
                @Html.DisplayFor(modelItem => item.suburb)
            </td>
            <td class="state">
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td class="postcode">
                @Html.DisplayFor(modelItem => item.postcode)
            </td>
            <td class="latitude">
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td class="longitude">
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @{
                    string OpenTime = item.open.ToString("HH:mm");
                }
                @Html.DisplayFor(modelItem => OpenTime)
            </td>
            <td>
                @{
                    string CloseTime = item.close.ToString("HH:mm");
                }
                @Html.DisplayFor(modelItem => CloseTime)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.branchId }, new { @class = "btn btn-xs btn-primary", style = "background-color:white;color:#007bff;border-color:#007bff" })
                @if (User.IsInRole("Doctor"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.branchId }, new { @class = "btn btn-xs btn-primary", style = "background-color:white;color:#007bff;border-color:#007bff" })
                }

                @if (User.IsInRole("Doctor"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.branchId }, new { @class = "btn btn-xs btn-warning", style = "background-color:white;color:red" })
                }

                @if (User.IsInRole("Customer"))
                {
                    @Html.ActionLink("Reservation", "Create", "Reservations", new { id = item.branchId }, new { @class = "btn btn-xs btn-primary", style = "background-color:white;color:#007bff;border-color:#007bff" })
                }



            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")

}

