<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css'
type='text/css' />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#2A63AA;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Melbourne Medicare", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:white;font-family:'Lucida Calligraphy'" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("About", "About", "Home", null, new { style = "color:white" })</li>

                    <li>@Html.ActionLink("Find us", "Index", "Branches", null, new { style = "color:white" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Role", "Index", "Role", null, new { style = "color:white" })</li>

                        <li>@Html.ActionLink("Manage User", "Index", "User", null, new { style = "color:white" })</li>
                        <li>@Html.ActionLink("Manage Reservation", "Index", "Reservations", null, new { style = "color:white" })</li>
                    }
                    @if (User.IsInRole("Customer"))
                    {
                        <li>@Html.ActionLink("My Reservation", "Index", "Reservations", null, new { style = "color:white" })</li>
                    }





                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var d = moment().add(1, 'day');
        

        //var disabledHours  = [0, 1, 2, 3, 4, 5, 6, 7, 17, 18, 19, 20, 21, 22, 23, 24 ];
        //var disabledTimeIntervals = [[moment({ ha: 0 }), moment({ h: 6 })], [moment({ h: 17, m: 30 }), moment({ h: 24 })]];
        //var date = new Date();
        $(document).ready(
            $(
                function () {
                    $('#date').datetimepicker({
                        //viewMode: 'years',
                        format: 'DD/MM/YYYY hh:mm A',
                        daysOfWeekDisabled: [0, 6],
                        //inline: true,
                        sideBySide: true,
                        minDate: d,
                        //disabledTimeIntervals: [moment('13:50').format('HH:mm'), moment('18:50').format('HH:mm')],
                        //disabledHours: disabledHours,
                        stepping: 15
                        
                    });
                    

                }
            )
        )



    </script>
</body>
</html>
